.aboutContainer{
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 13%;
}


.aboutContainer h2{
  font-size:2rem;

}

.aboutContainer p{
  text-align: center;
}