.aboutContainer{
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 13%;
}

.aboutContainer h1{
  font-family:sans-serif;
  font-size: 2rem;
  color:#D7263D;
}

.aboutContainer p{
  text-align: center;
  line-height: 25px;
}