.hero-section{
    height: 100vh;
    padding: 30px 11%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    

}

h2{
    font-size: 2.4rem;  
    background: linear-gradient(135deg, #D7263D, #FF5733);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    
}


p{
    color: #a8a8a8;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 29px;
    
}

.image{
    display: flex;
    align-items: center;
    justify-content: end;
}
video{
    width: 280px;
}

.home-links{
    display: flex;
    justify-content: left;

}

.project-btn {
    margin-left: 30px;
}


@media screen and (max-width: 768px){

    .hero-section{
        grid-template-columns: repeat(1,1fr);
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

}